$background:rgb(255,51,174);
$secondary:rgb(253, 253, 253);
$secondary1:rgb(51, 255, 252);
$secondary2:rgb(64, 53, 227);
$secondary3:rgb(157, 53, 227);
$secondary4:rgb(189, 227, 53);
$secondary5:rgb(227, 53, 117);